{% extends 'layout.twig' %}

{% block body %}
  <h1>{{title}}</h1>
  <p>Bienvenue sur {{title}}</p>

  <ul>
    <li><a href="/table/">Voir les tables de multiplication</a></li>

  </ul>
  
{% endblock %}
